{%
    set viewOptions = {
        authorized: { icon: "check", color: "bg-primary" } ,
        cancelled: { icon: "x", color: "bg-warning text-dark" } ,
        completed: { icon: "check", color: "bg-success" } ,
        failed: { icon: "x", color: "bg-danger" } ,
        new: { icon: "clock", color: "bg-secondary" } ,
        processing: { icon: "check", color: "bg-info text-dark" } ,
        refunded: { icon: "repeat", color: "bg-light text-dark" } ,
}
%}

{% set value = 'sylius.ui.' ~ state %}

<span class="{{ viewOptions[state]['color'] }} badge">
    <i class="{{ viewOptions[state]['icon'] }} icon"></i>
    {{ value|trans }}
</span>
