{% if product.variants.empty() %}
    <div class="col-lg-4 col-md-6 mb-3">
        {% include '@SyliusShop/Product/Box/_product.html.twig' with { product: product, variant: null } %}
    </div>
{% else %}
    {% for variant in product.variants %}
        <div class="col-lg-4 col-md-6 mb-3">
            {% include '@SyliusShop/Product/Box/_product.html.twig' with { product: product, variant: variant } %}
        </div>
    {% endfor %}
{% endif %}
