{% import '@SyliusShop/Common/Macro/headers.html.twig' as headers %}

<h1 id="sylius-product-name" {{ sylius_test_html_attribute('product-name', product.name) }}>
    {{ product.name }}
</h1>

{# TODO #}
{% if product.subTitle is defined and product.subTitle %}
<div>
    {{ product.subTitle }}
</div>
{% endif %}
