<div class="row">
    <div class="col-12 col-md-6 mb-5">
        {% include '@SyliusShop/Product/Show/Tabs/_attributes.html.twig' %}
    </div>
    <div class="col-12 col-md-6 mb-5">
        {% include '@SyliusShop/Product/Show/Tabs/_details.html.twig' %}
    </div>
</div>
