{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <h2 class="mt-5 mb-3 text-center font-weight-bold">
        {{ 'sylius.ui.server_has_encountered_some_errors'|trans }}
    </h2>

    <img src="{{ asset('build/shop/images/logo.svg') }}" alt="Logo" class="img-fluid" />
{% endblock %}
