<div class="list-group mb-2" {{ sylius_test_html_attribute('payment-item') }}>
    <label class="list-group-item" for="{{ form.vars.id }}">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-0">
                {{ form_widget(form, { attr: { class: 'form-check-input me-1' }}) }}
            </h5>
        </div>
        {% if method.description is not null %}
            <p class="mt-3 mb-0 text-muted">{{ method.description }}</p>
        {% endif %}
    </label>
</div>
