<a href="{{ path('sylius_shop_homepage') }}" class="navbar-brand" href="#">
    <img src="{{ asset('build/shop/images/logo.svg', 'shop') }}" alt="" height="24" class="d-inline-block align-text-top">
    {{ sylius.channel.name }}
</a>
